

<div class="alert alert-success" id="favoriteAdded" style="display: none">
	<a class="close" data-dismiss="alert">&#215;</a>
	Successfully added to favorites!
</div>

<table class="table">
  <tr>
  	<th></th>
    <th>Title</th>
    <th>Genre</th>
    <th>Actors</th>
    <th>Raitings</th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
  	<td> <img src="<%= movie.image %>" /> </td>
    <td><%= movie.titluEn %></td>
    <td><%= movie.gen %></td>
    <td><%= movie.actori %></td>
    <td><%= movie.nota %></td>
    <td><%= link_to 'Show', movie %></td>
    <td>
    	<%#= link_to favorite_movie_path( movie ) do %>
    	<a href="" onclick="favorite( <%= movie.id %> );return false;">	<i class='cus-star'> </i> </a>
    	<%#- end -%>
    </td>
  </tr>
<% end %>
</table>

<br />

<script type="text/javascript">

	function favorite ( id )
	{
		console.log ( id )
		data = 'id='+id ;
		$.ajax({
			type:"POST",
			url: "movies/favorite",
			data: data,
			dataType:"json",
			success: function(data){
				console.log ( "win " ) ;
				if ( data["success"] == true )
				{
					console.log ( "win" ) ;
					$("#favoriteAdded").show();
					setTimeout ( function () {$("#favoriteAdded").hide();}, 1500 ) ;
				}
			}
		});
	}

</script>
