<h1>Listing movies</h1>

<table class="table">
  <tr>
    <th>Titlu</th>
    <th>Gen</th>
    <th>Actori</th>
    <th>Nota</th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.titluEn %></td>
    <td><%= movie.gen %></td>
    <td><%= movie.actori %></td>
    <td><%= movie.nota %></td>
    <td><%= link_to 'Show', movie %></td>
  </tr>
<% end %>
</table>

<br />
