<div class="row-fluid">
	<div class="span2">
		<img src="<%= @movie.image %>">
	</div>
	<div class="span10">
		<p>
			<b>Director:</b>
			<%= @movie.regizor %>
		</p>

		<p>
			<b>Title:</b>
			<%= @movie.titluEn %>
		</p>


		<p>
			<b>Genre:</b>
			<%= @movie.gen %>
		</p>

		<p>
			<b>Actors:</b>
			<%= @movie.actori %>
		</p>

		<p>
			<b>Raiting:</b>
			<%= @movie.nota %>
		</p>
	</div>
</div>
<table class="table">
	<thead>
		<th>Cinema</th>
		<th>Hour</th>
	</thead>

	<%- @movie.showtimes.each do |showtime| -%>
	<tr>
		<td><%= showtime.place %></td>
		<td><%= showtime.hour %></td>
	</tr>
	<%- end -%>
</table>
