Friends


<%- @user.friendships.accepted.each do |friendship|-%>

	<div class="row" style="margin-bottom: 5px;">
		<div class="span1" style="width: 120px">
			<img src="<%= friendship.friend.image %>"/>
		</div>
		<div class="span3">
			<%= link_to friendship.friend.fullname , user_path( friendship.friend )%>
		</div>
	</div>


<%- end -%>

<%- @user.inverse_friendships.accepted.each do |friendship|-%>
	<div class="row" style="margin-bottom: 5px;">
		<div class="span3">
			<img src="<%= friendship.user.image %>" style="width:120px; float:left; margin-right: 10px"/>
			<%= link_to friendship.user.fullname , user_path( friendship.user )%>
		</div>
	</div>

<%- end -%>



Pending friends

<%- @user.friendships.pending.each do |friendship| -%>

	<div class="row" style="margin-bottom: 5px;">
		<div class="span3">
			<img src="<%= friendship.friend.image %>" style="width:120px; float:left; margin-right: 10px"/>
			<%= link_to friendship.friend.fullname , user_path( friendship.friend )%>
		</div>
	</div>

<%- end -%>

<%- @user.inverse_friendships.pending.each do |friendship| -%>

	<div class="row" style="margin-bottom: 5px;">
		<div class="span3">
			<img src="<%= friendship.user.image %>" style="width:120px; float:left; margin-right: 10px"/>
			<%= link_to friendship.user.fullname , user_path( friendship.user )%>
		</div>
	</div>

<%- end -%>